* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.3s;
  z-index: 1000;
}

nav.scrolled {
  background: #0a3d62;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 8px 12px;
  transition: 0.3s;
}

.nav-links li a:hover {
  background: white;
  color: #0a3d62;
  border-radius: 5px;
}

.section {
  height: 100vh;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

}

.hero {
  background: linear-gradient(to right, #0a3d62, #3c6382);
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    gap: 10px;
  }
}

.about-section{
    min-height:100vh;
    padding:100px 20px;
     background:linear-gradient(135deg,#0a3d62,#3c6382);
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-container{
    max-width: 800px;
    text-align:center;
}
.about-container{
    background-color:#f5f6fa ;
    padding:30px;
    border-radius: 10px;
    transition:0.3s;
}
.about-container h2{
    font-size: 36px;
    margin-bottom: 20px;
    color:#0a3d62;
}
.about-container p{
    font-size:18px;
    line-height: 1.6;
    color:#333;
    margin-bottom: 15px;
}
@media(max-width:768px){
    .about-container h2{
        font-size: 28px;
    }
    .about-container p{
        font-size: 16px;
    }
}
.services-section{
    min-height:100vh;
    padding: 100px 20px;
     background:linear-gradient(135deg,#0a3d62,#3c6382);
    text-align:center;
}
.services-section h2{
    font-size: 36px;
    margin-bottom: 40px;
    color:#fbc531;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
    max-width: 1000px;
    margin: auto;
}
.service-card{
    background-color:#f5f6fa ;
    padding:30px;
    border-radius: 10px;
    transition:0.3s;
}
.service-card:hover {
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
}
.service-card h3{
    color:#0a3d62;
    margin-bottom: 15px;
}
.service-card p{
    color:#555;
    font-size:16px;
}
@media(max-width:768px){
    .services-container{
        grid-template-columns: 1fr;
    }
}
.contact-section{
    min-height: 100vh;
    padding:100px 20px;
    background:linear-gradient(135deg,#0a3d62,#3c6382);
    color:white;
    text-align:center;
}
.contact-section h2{
    font-size:36px;
}
.contact-subtitle{
    margin-bottom: 40px;
    font-size: 18px;
}
.contact-wrapper{
    max-width: 1000px;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
}
.contact-form{
    background: white;
    padding:30px;
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    gap: 15px;
}
.contact-form input,
.contact-form textarea{
    padding: 12px;
    border-radius: 8px;
    border:1px solid #ccc;
}
.contact-form button{
     background: #0a3d62;
     color:white;
     padding:12px;
     border:none;
     border-radius: 25px;
     font-size:18px;
     cursor:pointer;
}
.contact-form button:hover{
    background:#3c6382;
    }
    .contact-form h1{
    color:#0a3d62;
    }
    
.contact-social{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.contact-social h3{
    font-size: 26px;
    margin-bottom: 20px;
}
.social{
    text-decoration: none;
    color:white;
    padding:15px;
    margin-bottom:15px;
    border-radius:30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    transition:0.3s;

}
.social i{
    font-size: 22px;
}
.social.facebook{
    background: #1877f2;
}
.social.instagram{
    background:linear-gradient(45deg,#feda75,#d62976,#962fbf);
}
.social.linkedin{
    background:#0a66c2;
    }
.social:hover{
    transform: scale(1.08);
}
.welcome-section{
    height:100vh;
    background:linear-gradient(135deg,#0a3d62,#3c6382);
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    overflow:hidden;
    padding-top:80px;

}
.welcome-content{
    text-align:center;
    color:white;
    max-width: 700px;
    z-index:2;
    
}
.welcome-content h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.welcome-content h1 span{
    color:#fbc531;
}

.welcome-content p{
    font-size: 18px;
    margin-top: 30px;
    line-height:1.8;
}
.welcome-buttons{
    display:flex;
    justify-content: center;
    gap:20px;
}
.btn{
    padding:12px 28px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    transition:0.3s;
}
.btn.primary{
    background:#fbc531;
    color:#0a3d62;
}
.btn.primary:hover{
    background: #fff;

}
.btn.secondary{
    border:2px solid white;
    color:white;
}
.btn.secondary:hover{
    background: white;
    color:#0a3d62;
}
.welcome-shape{
    position:absolute;
    width:500px;
    height:500px;
    background:rgba(255,255,255,0.08);
    border-radius:50%;
    bottom:-150px;
    right:-150px;
}
@media(max-width:768px){
    .welcome-content h1{
        font-size:36px;
     }
     .welcome-content p{
        font-size:16px;
     }
     .welcome-buttons{
        flex-direction:column;
     }
}